@font-face{
    font-family: Raleway;
    src: url('fonts/Raleway-Regular.ttf') format("truetype");
}

@font-face{
    font-family: Raleway;
    src: url('fonts/Raleway-Bold.ttf') format("truetype");
    font-weight: bold;
}

@font-face{
    font-family: Raleway;
    src: url('fonts/Raleway-Light.ttf') format("truetype");
    font-weight: lighter;
}

@font-face{
    font-family: RalewayExtraBold;
    src: url('fonts/Raleway-ExtraBold.ttf') format("truetype");
}

@font-face{
    font-family: SemiBold;
    src: url('fonts/Raleway-SemiBold.ttf') format("truetype");
}

@font-face{
    font-family: OpenSans;
    src: url('fonts/Open-SansRegular.ttf') format("truetype");
}

@font-face{
    font-family: OpenSans;
    src: url('fonts/Open-SansBold.ttf') format("truetype");
    font-weight: bold;
}


html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

body{
    margin: 0;
}

.masthead{
    width: 100%;
    background-image: url(img/masthead.png);
    background-size: cover;
}

header{
    width: 1170px;
    height: 90px;
    margin: 0 auto;
    border-bottom: 1px solid #4d4f65;
}


.logo{
    float: left;
    margin: 0;
    line-height: 90px;
    text-decoration: none;
    font-family: Raleway;
    font-size: 35px;
    color: white;
}

.logo-active{
    font-family: RalewayExtraBold;
    color: #66697e;
}

nav{
    float: right;
}

nav a{
    margin-left: 60px;
    line-height: 90px;
    text-transform: uppercase;
    text-decoration: none;
    font-family: Raleway;
    font-weight: bold;
    font-size: 14px;
    color: white;
    opacity: 0.75;
}

nav a:hover{
    text-decoration: underline;
}

.masthead-center{
    width: 1170px;
    margin: 0 auto;
    padding: 158px 0;
}

.masthead-header{
    margin-left: 155px;
    line-height: 70px;
    color: white;
    font-family: OpenSans;
    font-size: 65px;
    font-weight: bold;
}

.masthead-text{
    margin-top: 45px;
    padding: 0 120px;
    text-align: center;
    color: white;
    font-family: Raleway;
    font-size: 22px;
    line-height: 30px;
}

.masthead-button{
    width: 200px;
    height: 45px;
    margin-left: 485px;
    margin-top: 80px;
    text-transform: uppercase;
    background-color: #e84545;
    border: none;
    border-radius: 4px;
    color: white;
    font-family: Raleway-SemiBold;
    font-size: 13px;
    cursor: pointer;
}

.features{
    width: 1170px;
    padding-top: 46px;
    padding-bottom: 121px;
    margin: 0 auto;
}

.feature{
    width: 33%;
    margin-top: 75px;
    padding: 0 47px;
    float: left;
    text-align: center;
}

.feature-icon{
    width: 100px;
    height: 100px;
    margin: 0 auto;
    background-image: url(img/icons.gif);
    display: block;
}

.monitor{
    background-position: -100px 0;
}

.lightbulb{
    background-position: -200px 0;
}

.atom{
    background-position: 0 -100px;
}

.briefcase{
    background-position: -100px -100px;
}

.cloud{
    background-position: -200px -100px;
}

.feature-name{
    margin-top: 18px;
    text-transform: uppercase;
    font-family: Raleway;
    font-size: 14px;
    font-weight: bold;
}

.feature-description{
    margin-top: 29px;
    color: #6c7279;
    font-family: Raleway;
    font-size: 14px;
}

.works{
    width: 100%;
    overflow: hidden;
}

.work{
    width: 25%;
    height: 350px;
    position: relative;
    float: left;
    text-align: center;
    background-color: #e75250;
}

.work-image{
    width: 100%;
    height: 100%;
}

.work-image img{
    width: 100%;
    height: 100%;
    border: 1px solid white;
}

.work-description{
    position: absolute;
    top: 150px;
    left: 150px;
    text-align: center;
    font-family: Raleway;
    font-size: 14px;
    color: white;
    opacity: 0;
}

.work-description a{
    color: white;
    text-decoration: none;
}

.project-name{
    margin-bottom: 5px;
    text-transform: uppercase;
    font-weight: bold;
}

.team-section{
    width: 100%;
    padding: 100px 0;
}

.team{
    width: 1170px;
    margin: 0 auto;
}

figure{
    width: 270px;
    float:left;
    margin-right: 30px;
}

.team :last-child{
    margin-right: 0;
}

.member-name{
    margin-top: 30px;
    font-family: Raleway;
    font-size: 22px;
    color: #2d3033;
}

.member-profession{
    margin-top: 15px;
    text-transform: uppercase;
    font-family: Raleway;
    font-size: 13px;
    color: #e84545;
}

.member-description{
    margin-top: 30px;
    font-family: Raleway;
    font-size: 14px;
    color: #6c7279;
}

.member-soc-nets{
    margin-top: 32px;
}

.member-soc-icon{
    width: 40px;
    height: 40px;
    float: left;
    margin-right: 5px;
    border: 1px solid #c6cacc;
    line-height: 40px;
    font-size: 20px;
    text-align: center;
    color: #c6cacc;
    cursor: pointer;
}

.member-soc-icon:hover{
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
}

.top-footer{
    width: 100%;
    padding-top: 70px;
    padding-bottom: 112px;
    background-color: #3a3e64;
}

.top-footer-content{
    width: 1170px;
    margin: 0 auto;
}

.footer-section{
    width: 33%;
    margin-top: 75px;
    padding: 0 47px;
    float: left;
    text-align: center;
}

.footer-section-name{
    color: white;
    text-transform: uppercase;
    font-family: Raleway;
    font-size: 14px;
    font-weight: bold;
}

.footer-section-description{
    margin-top: 22px;
    color: #a3a4b2;
    line-height: 20px;
    font-family: Raleway;
    font-size: 14px;
}

.social-networks{
    margin-top: 22px;
    margin-left: 70px;
}

.soc-icon{
    width: 40px;
    height: 40px;
    float: left;
    margin: 0 5px;
    border: 2px solid white;
    line-height: 40px;
    font-size: 20px;
    color: white;
    cursor: pointer;
}

.soc-icon:hover{
    box-shadow: 0 0 20px rgba(0,0,0,0.5);
}

.soc-icon img{
    padding-top: 12px;
}

.bottom-footer{
    width: 100%;
    height: 95px;
    background-color: #313454;
}

.bottom-footer-content{
    width: 1170px;
    margin: 0 auto;
    padding-top: 27px;
    text-align: center;
}

.copyright{
    color: #808080;
    line-height: 25px;
    font-family: Raleway;
    font-size: 14px;
}

.author{
    color: white;
    font-family: OpenSans;
    font-size: 14px;
}

.heart{
    font-family: Webdings;
    color: red;
}

.clearfix:after {
  content: " ";
  clear: both;
  display: table;
}